[2014-12-20 23:33] punker76 opened #4 "A DialogResult would be better"

[2015-01-12 18:09] dealproc opened #6 "Stacked windowing"
An ability to open a Dialog from within a Dialog.

Use case would be Prompting the user for input, then popping a second dialog with a list of issues against the input... this better catches the user's attention, esp. if its something drastic.

[2015-01-13 19:23] marcel141 opened #7 "VS2013 crash"
VS2013 crashed for me after I changed IsOpen parameter in XAML from false to true.

[2015-03-01 08:17] riegaz opened #8 "Needs Mahapps.Metro 1.0.0.0"
In VS I get the following error when using the latest prerelease of Mahapps.Metro (1.1.2.7).

Error	1	The type 'MahApps.Metro.Controls.MetroWindow' is defined in an assembly that is not referenced. You must add a reference to assembly 'MahApps.Metro, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f4fb5a3c4d1e5b4f'.

This should be fixed.

[2015-03-01 13:22] punker76 commented on #8
fixed with v1.1.0 701176e3b156621b82c7aeec939444ebe5dd857a

[2015-03-01 13:22] #8 closed

[2015-03-01 16:08] riegaz commented on #8
That was fast, it is working now! Thanks!

[2015-03-02 19:42] pingu2k4 opened #9 "When closing a childwindow, the main window will not recieve hover info until clicked"
hi,

Just something I noticed whilst using this. I have the main window open or close a child window when I press F10. If I open the child window, then close it again using F10, wherever the cursor is when I close the window will give all elements in the main window (buttons etc) the current cursor location in terms of hovering but will not update until the user click within the main window.

Exam

[2015-03-07 19:38] riegaz opened #10 "Can't reopen SimpleChildWindow"
Could you please help me? Once closed the window it does not reopen. With the code below you should be able to verify this behaviour.

It should open and close every 3 seconds but it never reopens.

Thanks for help!

In XAML:
[code]

In a task I run:
[code]
showwarning is of type (typical wpf structure):
[code]

[2015-03-07 20:16] punker76 commented on #10
@riegaz i've implemented this short example in the demo and it works on my machine™

![test](https://cloud.githubusercontent.com/assets/658431/6543112/2f85180a-c50f-11e4-890e-d4a8c4446afc.gif)

[2015-03-07 20:53] riegaz commented on #10
I checked your examples. You set the "IsOpen" in the code behind but not via a Binding. For me like this it is also working but once I bind it, it does only work once.

Here is a basic example.

https://mega.co.nz/#!vwoBCSbR!BdwRvnu2rjgzfxQu0KXgfj32PgOyEw3Uc4wc8UEpzvQ

[2015-03-08 08:14] riegaz commented on #10
Can you reproduce the behaviour?

[2015-03-08 16:21] riegaz commented on #10
Please let me know if you plan to fix this problem, because I'm waiting right now for your response. Any response is welcome, I just need to know if I have to implement something on my own.

[2015-03-08 20:41] punker76 commented on #10
@riegaz i really don't know what's going wrong here, but i'll look into

[2015-03-09 08:04] riegaz commented on #10
Thank you. I used a converter to convert the bound variable from number to boolean. Once the subwindow does not respond anymore, also the converter does not get notified anymore. It looks like the dependencyobject is somehow unregistered or overwritten vor lost? Maybe it would be interesting to see if it happens from on to offand also from off to on.

[2015-03-11 22:06] mikecousins opened #11 "IsModal doesn't seem to have an effect"
View:

    <simpleChildWindow:ChildWindow x:Class="Views.InviteWindow"
            xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
            xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
            xmlns:system="clr-namespace:System;assembly=mscorlib"
            xmlns:telerik="http://schemas.telerik.com/2008/xaml/presentation"
            xmlns:simpleChildWindow="clr

[2015-03-11 22:24] mikecousins commented on #11
Nevermind, this was caused by me specifying Height and Width instead of ChildWindowHeight and ChildWindowWidth.

[2015-03-11 22:24] #11 closed

[2015-03-17 05:17] 2elsa opened #12 ".net4.0 dll is not working for me"
Hi,
I am playing with your control but looks like it is not building in my .NET 4.0 project. The both project versions from nuget seem to target .NET 4.5. Is it exclusively for .NET 4.5?

Thanks

[2015-03-25 07:14] YannickHutter1993 opened #13 "Xaml Designer doesn't show ChildWindow"
When I open the CoolChildWindow in Visual Studio 2013 I don't see the various content Elements such as Textbox etc. in the designer. All I see is a blue rectangle.

Is there a workaround for this or is this a XAML limitation?
![coolchildwindow](https://cloud.githubusercontent.com/assets/2711677/6819786/f3b1102a-d2c6-11e4-924f-6baecea3ecf6.png)

[2015-03-27 23:09] punker76 commented on #12
@2elsa i'll look to that

[2015-04-01 07:44] merso0027 commented on #10
I have same issue.
Do you have any solution for this?

[2015-04-03 16:48] punker76 commented on #10
@merso0027 do you also use MVVMLight?

[2015-04-12 11:10] 4ipalino opened #14 "ChildWindow closes on Escape pressed"
Hi,

when i press Esc the ChildWindow gets closed. I tried to avoid this behavior with the OnKeyDown Event but this didn´t work. Are there any appproaches to avoid that the ChildWindow gets closed until i say it explicit from code.

[2015-04-12 18:22] punker76 commented on #14
@4ipalino that's not changable now, i'll add this in the next release...

[2015-04-29 18:01] furiousbuilder opened #15 "ShowSimpleChildWindow in VB.Net"
Hi,

I've a usercontrol named setupchildwindow, I've imported MahApps.Metro.Controls but I'm not able to use
"Me.ShowChildWindowAsync(new setupchildwindow())" how to make my childwindow appear ?

Thanks !

[2015-04-30 07:36] punker76 commented on #15
@furiousbuilder can you explain a little bit more? is there any bad output? or exception or something else?

[2015-04-30 07:54] furiousbuilder commented on #15
ShowChldWindowAsync is not defined, I work with VS 2013 and net framework 4.5. Is there any other way to show a simplechildwindow in VB.Net ?

[2015-05-05 20:48] furiousbuilder opened #16 "Modify main form from SimpleChildWindow"
Hi, I have a problem :
I'm trying to modify my main form with a Button on the SimpleChildWindow but it doesn't work.
I'm using this code in VB.Net :

Dim main As New MainWindow
Dim Nom As String = textbox1.Text
Dim Prenom As String = textbox2.Text
main.usernametext.Text = Nom & " " & Prenom

Here, usernametext is just a Label. The code give any error but nothing happens. Can I have help ?
Thank yo

[2015-05-05 20:52] punker76 commented on #16
@furiousbuilder can you provide more source? or just an error or something else? thx

[2015-05-05 20:58] furiousbuilder commented on #16
I don't have error, the label still have the same text like I haven't clicked on the button... Do you want that I upload the code of the button ?

[2015-05-05 21:01] punker76 commented on #16
@furiousbuilder if its possible your style of the child window and the button click event...

[2015-05-05 21:09] furiousbuilder commented on #16
Here is the code : http://pastebin.com/0PAHp3Hn
All the code work except main.roundPB.Source = bitmapimage and main.usernametext.Text = Nom & " " & Prenom
Dim main As New mainwindow is not here but it has been defined before

[2015-05-07 06:48] RiderOfTheli opened #17 "Application hang with SCW"
Hi Jan,

I saw that someone already ask you about that, but I would like to raise a hand that the problem exists ;)

When I want to change binding for IsOpen VS crash and there is nothing I can do with it. Event viewer shows only 1002 error with source: Application Hang.

Here you can find full event general info:

The program devenv.exe version 14.0.22823.1 stopped interacting with Windows and wa

[2015-05-07 07:31] punker76 commented on #17
@RiderOfTheli are you using vs 2015 ctp? maybe its an issue with it.

[2015-05-07 08:06] RiderOfTheli commented on #17
Yep, but in 2012, 2013 - the same.

[2015-05-07 08:08] punker76 commented on #17
@RiderOfTheli "When I want to change binding for IsOpen" do you mean changing in designer?

[2015-05-07 08:13] RiderOfTheli commented on #17
Yes. I'm not using code behind in here because I want to do this in 'proper mvvm'. I'll check with code behind, just for testing purpose it this works, but in designer - app hangs.

[2015-05-07 08:26] RiderOfTheli commented on #17
@punker76 with call in code-behind under MetroWindow_Loaded and button_Click it works. In xaml when binding IsOpen visual studio died again.

[2015-05-07 22:36] furiousbuilder commented on #16
I'm not able to show a MsgBox too, it makes the app crash.

[2015-05-30 15:25] Levvy055 opened #18 "Add Restore /Up/Down Button"
Buttons to Restore/Maximize Child Window.
It should had than also resize option but its another feature.

[2015-05-30 18:37] Levvy055 opened #19 "Make child windows resizable"
Make it available to change size of Child Window.
By:
-grabbing borders
-using grip in corner

[2015-05-31 05:13] Levvy055 commented on #19
Using for example:
[code]
is not changing anything

[2015-07-03 20:56] punker76 commented on #16
@furiousbuilder any news for this? if not, can you provide a full stacktrace from the crash? i think it's not caused by the child window.

[2015-07-03 22:42] punker76 commented on #15
@furiousbuilder any news for this? can you provide a full stack trace?

[2015-07-03 22:47] punker76 commented on #13
@YannickHutter1993 you can show the content by `IsOpen="True"`, this is by default set to `False`

![image](https://cloud.githubusercontent.com/assets/658431/8505459/3b1740ec-21e6-11e5-86b7-f4c853d9db7b.png)

[2015-07-03 22:47] #13 closed

[2015-07-03 22:48] #9 closed

[2015-07-03 23:14] #12 closed

[2015-07-03 23:14] #14 closed

[2015-07-03 23:14] #17 closed

[2015-07-04 06:38] furiousbuilder commented on #16
Hi,

I haven't code for 2 months due to some exams and I just formatted my drive to dual boot W10 and Mac OS X, so I need to reinstall visual studio to provide you some code but the problem is clearly not solved, interacting with everything else outside of the childwindow is impossible for me (showing a msgbox, modifying the main window...) but if my memory is great, I have no error messages, the

[2015-07-04 06:41] furiousbuilder commented on #15
Hi,

I haven't code for 2 months due to some exams and I just formatted my drive to dual boot W10 and Mac OS X, so I need to reinstall visual studio but I think that the problem has been corrected, when VS will be reinstalled I'll provide you some code :)

[2015-07-14 02:58] agc93 commented on #10
I see you've removed it from 1.2.0. Has there been any progress on this? Or do we need to roll our own replacement just to get MVVM Binding working?

I have the same issue using only the built-in WPF Bindings and properties, no MVVMLight or other frameworks. Same issue: can be toggled on, then off, and then no longer responds.

[2015-07-16 21:06] #7 closed

[2015-07-16 22:16] punker76 commented on #10
@riegaz @merso0027 @agc93 you can test the 1.3.0-ALPHA001 which should fix this nasty bug...

[2015-07-16 22:20] #10 closed

[2015-07-21 08:11] agc93 commented on #10
Just wanted to confirm and say that the new version works like a dream for me. Installed from the prerelease Nuget package, worked first time. Thanks heaps!!

[2015-07-25 16:57] furiousbuilder commented on #15
MsgBox are now working in 1.2.0 but I'm still not able to use ShowMessageAsync, because it seems to be not declared

[2015-07-25 16:58] furiousbuilder commented on #16
Okay so now I'm able to show MsgBox, but I'm not able to control main form, nothing happen, even a simple
Dim main As New MainWindow
main.Title = "TitleChanged"

[2015-10-22 17:22] leovictor opened #22 "Call a simpleChildWindow from VM"
Hi,

are you planning to allow call a childWindow from a ViewModel?

Thanks!

[2015-11-05 22:32] frogcrush opened #23 "Designer support"
I don't know if this affects only me, but I don't have any designer support. All I have is a blank grid in the designer. I still have full XAML editor support.
![no-designer-support](https://cloud.githubusercontent.com/assets/6116333/10983848/0c2b7046-83ca-11e5-94c1-c66afb93ee9f.png)

[2015-11-24 07:59] robg66 commented on #23
I got the same problem.
Any solutions for this?

[2015-11-24 08:32] punker76 commented on #23
@robg66 @frogcrush as a workaround set `IsOpen="True"`

[2015-11-24 19:21] robg66 commented on #23
Thanks it works

[2015-12-14 03:24] agc93 opened #24 "Child window appears "beneath" validation errors"
I have a simple WPF app with "standard" WPF validation (i.e. _IDataErrorInfo_ and _ValidatesOnDataErrors_ ) enabled, and when opening the child window, the outlines left by validation errors appear on top of the child window (the field's stay below it).

![screenshot 8](https://cloud.githubusercontent.com/assets/1369269/11772203/b3053622-a265-11e5-825a-dca4dfb95ab6.png)

I have tried updating the

[2015-12-30 20:39] evrend opened #25 "Multiple Window Childs Focus(Bring To Front) Problem"
When i create multiple window childs and click on the back window child, It doesn't bring to front the other child.
![ekran](https://cloud.githubusercontent.com/assets/5174632/12057112/5e2b12d2-af46-11e5-82ac-45b3ef0e6507.png)
## Details:

Windows 8.1
Visual Studio 2015
Mahapps V.1.1.2.0
Mahapps SimpleChildWindow V.1.2.0.0

[code]

[code]

[2015-12-30 20:40] evrend commented on #25
![ekran alintisi](https://cloud.githubusercontent.com/assets/5174632/12057097/3fdefabe-af46-11e5-966e-184fc11003fe.PNG)

[2015-12-31 09:00] evrend commented on #25
I found a solution but maybe it resolvable with a basic property?

## My Solution, Child Class Code

'''
        private void ChildWindow_MouseDown(object sender, System.Windows.Input.MouseButtonEventArgs e)
        {
            this.BrintToFront();
        }

        private void ChildWindow_GotMouseCapture(object sender, System.Windows.Input.MouseEventArgs e)
        {
            this.BrintToF

[2016-01-06 00:31] frogcrush commented on #23
Yes, this works perfectly.

[2016-01-06 00:31] #23 closed

[2016-01-06 00:32] frogcrush commented on #15
Make sure you import MahApps.Metro.Controls.Dialogs, as it provides the override methods.

[2016-01-13 09:24] jonny123d opened #26 "Message dialog overlay is not displayed when SimpleChildWindow is involved."
Hello,
I some cases when the message dialog is shown using ShowMessageAsync() method the dark overlay is not displayed. In my own project it happens a lot of times, but is hard to reproduce all cases because I use a dll library, threads, ASP.NET Identity for login, large code file,... I have found a simple example when it happens, may be fixing this bug solves all cases.

This is my environment:
-

[2016-01-14 12:23] jonny123d opened #27 "DialogManager throws InvalidOperationException when DialogMessage is shown in second time (Threads and SimpleChildWindow involved)"
Hello,
I have been being a problem with message dialogs when I'm using threads and child windows. Here is exception's information:

[code]

This is my environment:
- Windows 8.1 Pro (64 bits)
- Visual Studio Ultimate 2013 Update 4

I'm using Mahapps stable libraies:
- Mahapps.Metro 1.2.2.0
- Mahapps.Metro.SimpleChildWindow 1.2.0.0

I developed an application to show that:
http://1drv.ms/1PZTAu1

T

[2016-01-16 23:22] punker76 commented on #27
should be fixed with MahApps.Metro.SimpleChildWindow v1.3.0 and MahApps.Metro v1.2.3

[2016-01-16 23:22] #27 closed

[2016-01-16 23:23] punker76 commented on #26
should be fixed with MahApps.Metro.SimpleChildWindow v1.3.0 and MahApps.Metro v1.2.3

[2016-01-16 23:23] #26 closed

[2016-03-08 15:14] TheFlow0360 opened #29 "Prevent moving the window completly outside of the parent window"
When using `AllowMove=True` the dialog can be moved outside of view. It would be good, if moving the mouse cursor outside of the bounds of the parent window would be prevented, so that the child window can never completly go out of view.

[2016-03-10 14:59] AndreasSchmid1 opened #30 "AllowMove does not work."
I added a ChildWindow to my Mainwindow Content but the AllowMove property did not enable ChildWindow moving. Did I miss enabling something to get this feature working?

My current code:

`<simpleChildWindow:ChildWindow
                 IsOpen="{Binding IsChildWindowOpenOrNotProperty}"
                 HorizontalContentAlignment="Stretch"
                 VerticalContentAlignment="Stretch"

[2016-03-11 10:41] TheFlow0360 commented on #30
i had this problem to, the reason is that AllowMove is not compatible with `HorizontalContentAlignment="Stretch" VerticalContentAlignment="Stretch"`

[2016-03-11 10:58] AndreasSchmid1 commented on #30
Thank you. That was the problem!

[2016-03-11 12:22] #30 closed

[2016-03-16 12:57] rdoubleui commented on #22
You can do that by toggling the `IsOpen` property as shown in the [samples](https://github.com/punker76/MahApps.Metro.SimpleChildWindow#usage).

[2016-03-17 14:44] TheFlow0360 opened #31 "Change windowbar color when inactive similar to normal Metro Windows"
When setting the focus in another window, MetroWindows normally change the windowbar color from the accent to gray. It would be good if child windows did that too, now it's looking a bit weird.

![8nhb9gg](https://cloud.githubusercontent.com/assets/658431/13849671/6a9cea38-ec57-11e5-9f09-56c48d91435d.png)

[2016-03-17 14:48] TheFlow0360 commented on #29
@punker76 this can be tagged as "enhancement", too

[2016-03-30 15:36] fmuecke commented on #4
A result really would be kick ass and great news for everyone.

[2016-05-24 20:57] INGCRENGIFO commented on #29
@punker76 and @TheFlow0360 there is a date set for the implementation of the improvement ?? I just installed mahapps from nuget.

[2016-05-25 22:19] makingbloke opened #32 "MahApps.Metro.SimpleChildWIndow.pfx is missing from project"
The file MahApps.Metro.SimpleChildWIndow.pfx is missing from the latest sources. To get the ChildWindow to build I removed this file from the project and turned off code signing (temporarily).

[2016-06-10 00:29] elios264 opened #33 "Window closes when pressing escape inside an openfiledialog"
I Have a ChildWindow opened and then I opened an OpenFileDialog, when I pressed the escape key, on the openfiledialog the ChildWindow closed as well
![animation2](https://cloud.githubusercontent.com/assets/15863852/15950859/60759b5a-2e78-11e6-9fe7-7f9bc42121ef.gif)

[2016-10-14 05:07] wizkidd opened #35 "Close() method raising error"
I'm calling the

`await ShowChildWindowAsync(windowA)`
 `windowA.Close()`
`await ShowChildWindowAsync(windowA)`

in succession, and getting the error "The provided child window is already visible in the specified window."

Do I need to await Close in anyway?

[2016-10-15 12:12] #15 closed

[2016-10-28 18:45] punker76 opened #36 "Create a short Wiki"
Create a short Wiki from the already existing README with some simple examples.

[2016-11-14 13:19] sandrasathish opened #37 "Block accessing main window when child window is opened"
When child window is opened which smaller than main window. I am able to access controls in the main window.

[2016-11-20 20:41] #29 closed

[2016-11-28 20:45] eluchsinger commented on #37
@sandrasathish does your childwindow have the `Width` and `Height `Properties set?

[2016-11-28 20:47] punker76 commented on #37
@sandrasathish @eluchsinger To set width and height of the window then set `ChildWindowWidth` and `ChildWindowHeight`

[2016-11-29 09:02] sandrasathish commented on #37
Thanks its worked.

[2016-11-29 09:15] #37 closed

[2016-11-29 09:16] #36 closed

[2016-12-15 02:17] shawnshaddock opened #39 "PART_HeaderThumb prevents icon click"
Please move PART_HeaderThumb to Column 1 and remove ColumnSpan 2 so that it doesn't overlay the icon and prevent the ability to click it when AllowMove is true. Standard behavior of window icons is to provide a menu on click, and not the ability to drag and move the window.

[2017-01-24 14:57] AlanWills opened #40 "await ChildWindowAsync does not block main thread"
[code]

In the following code I attempt to show a ChildWindow using 'ShowChildWindowAsync' and expect the await call to block until the window is closed.  However, execution just continues on.

Have I used the API incorrectly?  How do create a Modal ChildWindow which blocks execution until closed  like the classic MessageBox.Show()?

The XAML for the ViewerWindow is:

[code]

and the ModalWindow s

[2017-02-02 08:04] RiderOfTheli opened #41 "IsAutoCloseEnabled="True" for SimpleChildWindow - possible?"
Hi,

I would like to ask if it's possible to add **AutoClose** to the SimpleChildWindow, just like **Flyouts** has in MahApps.Metro project? **IsAutoCloseEnabled="True"** with proper interval.

Thank you :)

[2017-02-02 08:12] punker76 commented on #35
@wizkidd Can you please detail explain what do you want? This lines seems wrong, cause you open a child window, close the window and want to show again the child window on a closed window?

[2017-02-02 08:19] punker76 commented on #24
@agc93 You can prevent this if you put your window/usercontrol content (not the child window content) in a `AdornerDecorator`.

[2017-02-02 08:33] #16 closed

[2017-02-02 08:34] punker76 commented on #6
@dealproc Should be possible with latest MahApps.

[2017-02-02 08:34] #6 closed

[2017-02-04 07:08] punker76 commented on #24
@agc93 Can I close this?

[2017-02-05 01:05] agc93 commented on #24
@punker76 yeah close this one: haven't worked on the application for a while

[2017-02-05 06:45] #24 closed

[2017-03-07 09:37] AndrzejKl opened #42 "[Question] How to show dialog on SimpleChildWindow"
I can't figure it out;
 - this doesn't work, bacause this != MetroWindow
[code]

[2017-04-19 13:41] Raghava56 opened #43 "How to show a user control dialog on SimpleChildWindow"
it is working but SimpleChildWindow header is visible on top of my userControl dialog

[2017-04-20 14:23] punker76 commented on #43
@Raghava56 Can you show me some code? Or better create a short app which demonstrates your situation? Thx.

[2017-04-22 07:08] LubosBehensky opened #44 "Keep child inside parent window"
Hi,

I would like to ask if there is something wrong with what I do. I have adapted the example in the SimpleChildWindowDemo and I am trying to open movable child window like this:

[code]

DetailWindow looks like this:
[code]

 The thing is that the opened child window can be dragged outside of bounds of parent window. In the demo application mouse movement stops at the border of the parent windo

[2017-04-27 22:02] epscoe commented on #44
I had this problem too. For now, my workaround is to detect the mouse location in relation to the parent window's border when the child window is dropped, and if it's too far out, reset the child's RenderTransform:

    protected override void OnLostMouseCapture(MouseEventArgs e)
    {
        base.OnLostMouseCapture(e);

        const double offscreenMargin = 30;
        var left = dropLocation.X

[2017-04-30 18:17] LubosBehensky commented on #44
It is good enough for me. Thank you very much.

[2017-05-31 14:17] AlexGimo commented on #40
same problem here...

[2017-06-14 17:25] MarcOnFire opened #46 "Xaml Designer show ChildWindow but when app is running nothing appears"

[2017-06-15 07:52] #46 closed

[2017-07-05 10:08] pchinery opened #47 "InvalidOperationException when using from different threads"
We have a scenario, where we have two main MetroWindows that can both show overlays. To show the overlay, we create a new instance of ChildWindow in the respective thread. When setting the content property the second time (first time in second thread), we receive an InvalidOperationException, stating that some SolidColorBrush was not frozen and may not be used across threads.

I have create a repr

[2017-07-06 06:26] punker76 commented on #47
Fixed in v1.3.1

[2017-07-06 06:26] #47 closed

[2017-07-06 06:28] #43 closed

[2017-07-06 08:16] punker76 commented on #42
@AndrzejKl You can use the static method `GetWindow` from `Window` class to get the window.

[code]

[2017-07-06 21:09] punker76 commented on #39
@shawnshaddock I will prevent this for now in v1.3.2, but a menu will not be shown, cause this is a fake window, it's a ContentControl. I don't know if I should add a tiny menu with first only one item which closes the child window...

[2017-07-06 21:10] #39 closed

[2017-07-06 21:31] punker76 commented on #35
@wizkidd The Close method sets the IsOpen property to false and is not awaitable. So if you want to show a child window after closing another you can subscribe to IsOpenChangedEvent or ClosingFinishedEvent to handle this.

[2017-07-06 21:31] #35 closed

[2017-07-06 21:42] #33 closed

[2017-07-06 21:43] punker76 commented on #33
@elios264 Is fixed now and will be available with v1.3.2

[2017-07-06 21:43] #32 closed

[2017-07-11 09:35] #44 closed

[2017-07-11 09:37] punker76 commented on #44
@LubosBehensky It's now fixed and will be available in 1.4.0

[2017-07-11 09:37] #42 closed

[2017-07-11 11:26] #25 closed

[2017-07-11 11:26] punker76 commented on #25
Available in 1.4.0

[2017-07-11 11:42] #41 closed

[2017-07-11 11:42] punker76 commented on #41
@RiderOfTheli This will be available in 1.4.0

[2017-07-13 19:24] #31 closed

[2017-07-17 12:47] #4 closed

[2017-07-17 12:47] #40 closed

[2017-07-25 10:51] Stians92 opened #52 ""Cannot perform this operation while dispatcher processing is suspended.""
Edit: Setting AllowFocusElement="False" prevents the error from occurring, so it's definitely an issue with TryFocusElement.

I recently ran into a weird crash when using the SimpleChildWindow.

I have a datagridview in my main window. This datagridview is editable and it has a contextmenu with the option to launch a child window. If you edit a cell, then right click to bring up the contextmenu an

[2017-07-27 09:41] fengqiangboy opened #53 "How to show childwindow without shadow like this ?"
How to show childwindow without shadow like this ?
[https://user-images.githubusercontent.com/658431/28338628-dea5f8e2-6c09-11e7-8349-8bce5cf7a1c8.png](https://user-images.githubusercontent.com/658431/28338628-dea5f8e2-6c09-11e7-8349-8bce5cf7a1c8.png)

[2017-07-27 09:54] punker76 commented on #53
@fengqiangboy Set the `EnableDropShadow` property of your ChildWindow to false. All properties are listed and described on Wiki https://github.com/punker76/MahApps.Metro.SimpleChildWindow/wiki/ChildWindow#properties

[2017-07-27 09:54] #53 closed

[2017-07-27 10:05] fengqiangboy commented on #53
@punker76 Thank you for your answer.

I have set the `EnableDropShadow` property  to `false`,  but it do not work.
Here is my childwindow xaml :

[code]

And I show the childwindow like this :

[code]

[2017-07-27 10:13] punker76 commented on #53
@fengqiangboy Just added your sample to the demo and it works... so it must be something else in your scenario. Do you use the latest version? And which MahApps version?

![image](https://user-images.githubusercontent.com/658431/28665726-f76cfc10-72c4-11e7-98f7-942d692aa8ac.png)

[2017-07-27 10:24] fengqiangboy commented on #53
Sorry, I did not make it clear, it dose work, but I want make the background translucent like this.
[https://user-images.githubusercontent.com/658431/28338630-deacb9ca-6c09-11e7-8bdf-054fb008afd6.png](https://user-images.githubusercontent.com/658431/28338630-deacb9ca-6c09-11e7-8bdf-054fb008afd6.png)
And my MahApps version is 1.5.0, MahApps.Metro.SimpleChildWindow version is 1.4.0 .

[2017-07-27 11:08] punker76 commented on #53
@fengqiangboy ah, got it. I will update the Wiki for this, cause I must change this. Before the default was a freezed SolidColorBrush with `Gray2` from MahApps and `Opacity=0.8`. This brush cause some trouble in thread scenarios. So I removed it and uses `Gray3` as default for the `OverlayBrush`.

You can set this at your ChildWindow in Xaml to reenable it.

[code]

[2017-08-17 10:05] msard-oz opened #54 "Preventing focus from leaving ChildWindow context."
First of all, thank you for all the hard work, I love it.

I was wondering, is there a way to prevent focus to leave the ChildWindow context when Tab is pressed?

[2017-08-17 11:29] msard-oz commented on #54
I'm sorry, thought this to be an issue with ChildWindow, noticed only now that it was actually my code to cause that behavior. I'll close this.

[2017-08-17 11:29] #54 closed

[2017-08-25 21:12] punker76 opened #55 "StrongName signed assembly? Hey, it's 2017..."
MahApps.Metro.SimpleChildWindow v1.5.0 will not be strong-named.

Why?

Strong-named assemblies are only useful in some rare scenarios. If you need strong-named assembly then you can compile the source by yourself ore use the [Strong Namer](https://github.com/dsplaisted/strongnamer) from Daniel Plaisted @dsplaisted or [Strong-Name Signer](https://github.com/brutaldev/StrongNameSigner) from Werner

[2017-10-11 14:23] Speuline opened #56 "CloseButtonCommand Fire Only first Time"
Hello,
Is it just me or the closeButtonCommand only fire the first time you use it?

Second time, the windows close but nothing happens in the viewModel.

[2017-10-11 14:29] punker76 commented on #56
@Speuline Yeah, seems like it's my fault...

https://github.com/punker76/MahApps.Metro.SimpleChildWindow/blob/32f64727352dc5c167e552a908e219800f87e9b9/src/MahApps.Metro.SimpleChildWindow/ChildWindow.cs#L1119-L1120

[2017-10-13 23:30] ThuCommix opened #57 "CloseButton not visible with light mahapps theme"
Hello, I recently started using your library and noticed that when a light theme is selected (LightBase) the close button is not visible because its also whiteish.
![t1](https://user-images.githubusercontent.com/3823625/31569912-40dd5082-b07f-11e7-84f2-8b39f3dbb947.png)
![t2](https://user-images.githubusercontent.com/3823625/31569913-42b8dbec-b07f-11e7-88e3-3659bd45b97c.png)

The second image is c

[2017-10-26 22:33] #56 closed

[2017-11-04 21:11] DoozerRHS opened #59 "Validation Errors not displayed until user makes edits in child window"
I love the child-window feature, but I can't get initial-validation-state-feedback to work.... I think it is a bug, or maybe I need advice on the usage of a property or feature?

**Background**
I have a view model, which implements INotifyDataErrorInfo, it has several properties and some validation conditions which cause the HasErrors flag to be set true, and the GetErrors function to return some

[2017-11-07 23:03] #55 closed

[2017-11-07 23:05] punker76 commented on #59
@DoozerRHS It would be nice if you can create a simple app which demonstrates this issue. thx.

[2017-11-09 12:33] DoozerRHS commented on #59
I have started to put a test program together, and can provide some more information, I discovered:
The child-window will display the validation indicators if the content is wrapped within an AdornerDecorator.
If the child window contains a user-control, the user-control itself must have its content wrapped within an AdorderDecorator.
So I have a work-around to add AdornerDecorators into my XAML.

[2017-11-09 12:36] punker76 commented on #59
@DoozerRHS Ok, cool. And using an `AdornerDecorator` at this point is also the solution for this issue :-D

[2017-11-24 12:50] Mertsch opened #61 "SimpleChildWindow does not behave like a ContentControl, Content can only be a Visual"
v1.4.1
[code]

## Workaround
[code]

[2017-12-07 14:24] punker76 commented on #57
@ThuCommix I can't reproduce this issue, so can you post which version of MahApps and SimpleChildWindow you are using? How do you specify the MahApps resources?

[2017-12-12 06:20] liweys opened #62 "Text should be in "normal case" instead of upper case"
Seems everything is converted uppercase by default. I think this is not user wants. If I want uppercases somewhere, I will convert it (or specify some property in style) myself.
By the way how to keep/set all widgets to use "normal case" (original case) ?

[2017-12-12 08:54] punker76 commented on #62
@liweys I don't know which code do you mean, but here is the default the `Normal` value...

https://github.com/punker76/MahApps.Metro.SimpleChildWindow/blob/69ed7966d8067fc8a764523f645d0194cf1acf51/src/MahApps.Metro.SimpleChildWindow/ChildWindow.cs#L156

[2017-12-12 11:57] #62 closed

[2018-01-20 16:58] ahmedflix25 opened #63 "Movable child window and the flow direction"
if the child window flow direction is right to left while moving it by dragging, it will go to the opposite direction

https://github.com/punker76/MahApps.Metro.SimpleChildWindow/wiki/Samples#movable

[2018-02-15 20:44] Yavari opened #64 "Mvvm example?"
Can you add an example on how to use this from a view model?

[2018-02-16 12:11] Yavari commented on #64
I solved it by creating a service that I inject to my view models

    public class ChildWindowService
    {
        private readonly MainView _window;

        public ChildWindowService(MainView window)
        {
            _window = window;
        }

        public async Task<T> ShowChildWindowAsync<T>(ChildWindow childWindow)
        {
            return await _window.ShowChildWindowAsync<T>(

[2018-02-16 12:11] #64 closed

[2018-02-22 13:05] macxfadz opened #65 "latest version 1.4.1 Not compatiable with MahApps 1.6.0 version"
NuGet package installation is failed with MahApps 1.6  due to dependency issue.
![Visual Studio 2017 Output](https://user-images.githubusercontent.com/3683121/36540101-080f1420-17d1-11e8-9f14-43a795921452.JPG)

[2018-02-22 13:15] macxfadz commented on #65
@punker76 , If you can do versioning **MahApps.Metro._SimpleChildWindow_** with respect to **MahApps.Metro** that would be great and comfy.
Like - MahApps Metro 1.6.0 //  MahApps.Metro._SimpleChildWindow_ 1.6.0

[2018-02-27 12:32] #65 closed

[2018-02-28 11:54] #61 closed

[2018-02-28 11:57] #57 closed

[2018-02-28 11:58] punker76 commented on #52
@Stians92 Can you create a short sample which reproduces this issue? Thx

[2018-02-28 12:44] #63 closed

[2018-03-04 08:18] ahmedpiosol opened #67 "Child Window show a blank page in design time"
this example in the wiki or any Child Window
[code]
show as a blank page in design time in visual studio 2017 15.5.7

https://imgur.com/a/DQ9QH

[2018-03-04 08:24] ahmedpiosol commented on #67
thanks

[2018-03-05 04:48] ahmedflix25 opened #68 "can't open a child window from a page"
can't use that from a XAML page

`  await this.ShowChildWindowAsync(new CoolChildWindow() { IsModal = false });`

[2018-03-22 08:57] ugrgnc opened #69 "can't be found PART_EditableTextBox Template"
PART_EditableTextBox template cannot be found.
VisualTreeHelper GetChildrenCount function returns 0!, if the combobox component is in the ChildWindow.

[2018-03-22 09:03] punker76 commented on #69
@ugrgnc That's not enough information! What are you try to do?

[2018-03-22 09:13] ugrgnc commented on #69
Hello,

I use SimpleChildWindow for my project. in the ChildWindow I have a Combobox.  I want to get "PART_EditableTextBox" template of Combobox with VisualTreeHelper class. but It cannot be found!
if the Combobox  ist in the MetroWindow or Window, it can be found.

 <ComboBox Width="400" Height="30" IsEditable="True" helper:ComboBoxCharacterCasingBehavior.CharacterCasing="Upper">

[2018-03-22 09:28] punker76 commented on #69
@ugrgnc When do you try to find the inner TextBox? And why?

[2018-03-22 09:43] ugrgnc commented on #69
I want to use Combobox in Editable Mode to search, because of that I want to set some property of the Textbox like "MaxLength", "CharacterCasing". I use a Behavior for Combobox.  I try to get Template with VisualTreeHelper and FindName function. but I did not succeed. it returns always null.

[2018-03-22 09:54] punker76 commented on #69
@ugrgnc I think I can't help you enough without a sample app including your behavior.

[2018-03-22 10:43] ugrgnc commented on #69
@punker76

Sample application:

[SimpleChildWindowTest.zip](https://github.com/punker76/MahApps.Metro.SimpleChildWindow/files/1837094/SimpleChildWindowTest.zip)

[2018-03-26 15:01] Speuline opened #70 "Cross icon stays on screen when closing child windows"
Every time I close a child windows, the cross icon stays on screen.
It's not very serious since it last less than one second but it feels buggy.
I use version 1.5 of Simple Child Windows and 1.6.1 of Mahapss metro.

![image](https://user-images.githubusercontent.com/26438046/37914302-39baff34-3117-11e8-8a4e-7262922b1f93.png)

(By the way, love this library!)

[2018-04-01 02:07] ivicii opened #71 "how can i check if the window is opened inside c#"
Hello,

how can i check if the childwindow is opened inside c#?

thanks a lot!

[2018-04-13 18:27] EdoGaru opened #72 "Exception using WebBrowser Control"
Hi, So im getting a `FatalExecutionEngineError,` when using WebBrowser Control, specifically after setting the `Source` Property of the control, the exception states the following:

Additional information: The runtime has encountered a fatal error. The address of the error was at 0x6b77b9eb, on thread 0x10c0. The error code is 0x80131623. This error may be a bug in the CLR or in the unsafe or non-

[2018-04-20 09:29] Speuline commented on #70
no news?

[2018-04-20 09:54] punker76 commented on #70
@Speuline Can you create a short sample which demonstrates this issue? This would be very helpful. Thx.

[2018-04-21 15:34] Symbai commented on #71
By doing the same this extension does:

[code]

[2018-04-21 20:13] punker76 opened #73 "IsAnyDialogOpen (MahApps) not working for child windows"
Imported from https://github.com/MahApps/MahApps.Metro/issues/3223

IsAnyDialogOpen property is set to false although a child window is shown using the ShowChildWindowAsync by the MahApps.Metro.SimpleChildWindow extension

## What steps will reproduce this issue?

[code]

### Expected outcome

Property should return TRUE if there is a child window shown. Otherwise there should be another property

[2018-06-23 09:04] BaranPiotr opened #74 "ChildWindow moving issue"
When I set VerticalContentAlignment to Bottom and AllowMove to true i can move ChildWindow maximum to half of parent. I think this is issue witch calculate offsets and for testing this concept I change the calculate offset in ProcessMove method in clone repository from

`var widthOffset = width / 2 - this.partWindow.RenderSize.Width / 2;`
`var heightOffset = height / 2 - this.partWindow.RenderSize

[2018-07-17 11:48] fableforester commented on #72
I am encountering the exact same problem right now. I am trying to open a ChildWindow containing a WebBrowser control, nothing special. It crashes when trying to open the window with the mentioned error as long as the WebBrowser control is there. If i take it out, it runs smoothly (but of course is empty). Unfortunately there is no useful output besides this:

Did anybody find a solution or explan

[2018-07-17 14:04] EdoGaru commented on #72
Sadly, i haven't found a solution to this yet.

[2018-08-29 22:51] QuantumDeveloper opened #75 "Child window positioning issue"
Maximize host window, then move child window to the top left corner and restore window state.
Child window will go out of container bounds and become invisible.

Child window could become visible again only if xaml template will be re-rendered again (for example, reselect item in list from listbox or something like this). Simple close/open again does not work.

[2018-09-02 09:06] thbiela commented on #73
Is there any possibility to fix this issue? How do I know if any dialog is open? Background Information: I watch ESC-Keypresses to close my window and would like to ignore this if any ChildWindow is open. Thanks!

[2018-09-25 20:13] punker76 opened #76 "Strong-Naming again..."
The author of the (in)famous "Still strong naming your assemblies?" blog article has now done an about-face and now advocates strong-naming your assemblies again in an update to that same [blog post](https://www.pedrolamas.com/2016/03/01/still-strong-naming-your-assemblies-you-do-know-its-2016-right/):

[**Start Strong-Naming your Assemblies!**](https://www.pedrolamas.com/2018/09/11/start-strong-n

[2018-10-11 07:18] DeputyOfCopyPaster opened #77 "Strange things happen if window devided by grid rows."
Hello there,
I am a newcomer, just testing 'SimpleChildWindow' for my needs.

I faced with a stuff as follows:

![mahapps_window_with_no_grid](https://user-images.githubusercontent.com/43616343/46786372-50f91380-cd3d-11e8-8ed8-5b072b31940b.png)
That's working properly. I used this method:

[code]

![mahapps_window_with_grid](https://user-images.githubusercontent.com/43616343/46786426-79810d80-cd3d

[2018-10-11 08:10] punker76 commented on #77
@DeputyOfCopyPaster Please can you post your grid layout? it seems like your Rootgrid is not any more the "root" grid.

[2018-10-11 08:16] DeputyOfCopyPaster commented on #77
Yes, of course!

[code]
So far, I hadn't got any grids, except 'RootGrid'.

[2018-10-11 11:38] nicolausanne opened #78 "NuGet package version 1.5.0 compatibility issue with MahApps.Metro 2.0.0-alpha00x when targeting .NET 4.7.2"
The NuGet package version 1.5.0 of SimpleChildWindow does not work with versions 2.0.0-alpha00x versions of MahApps.Metro when targetting .NET 4.7.2.

[2018-10-11 14:02] DeputyOfCopyPaster commented on #77
Solved!
If you're going to use 'SimpleChildWindow', don't use that grid that comes by default by a project creating.
You must leave default grid to be virgin. In default grid can be next grid which may be formatted by you.
Otherwise you will get an issue as described above.

**This is wrong approach:**

[code]
**This is approach that solved issue:**

[code]
Solved thanks to **Punker76's** a little

[2018-10-11 14:09] #77 closed

[2018-10-24 05:20] DeputyOfCopyPaster opened #79 "Perhaps not an issue, however I need an advice on ChildWindow."
Hello everyone,
I have a question on the following thing:

![designer_view](https://user-images.githubusercontent.com/43616343/47407610-b4833800-d764-11e8-8e4a-b83986bab6b9.png)
The chief window and child window itself work normally (as it's shown left). However, there's no content in design view (right square). And there are not any errors and exceptions there.
Could someone give me an advice on

[2018-10-30 20:45] punker76 opened #80 "Drop targeting to framework .Net 4.0"

[2018-10-30 20:48] punker76 opened #81 "Use new msbuild csproj file"

[2018-11-05 19:07] #79 closed

[2018-11-08 13:19] DeputyOfCopyPaster opened #83 "How to prevent ChildWindow multiplication while using code behind calling method."
@punker76,

I get stuck on this issue. I tried to make binding of IsOpen property and did some manipulation with this variable, but in vain.
here is a code:

**Parameter_02.xaml**

``
IsOpen="{Binding Parameter_02_IsOpen}"
``

**Parameter_02.cs**

        private bool parameter_02_IsOpen;
        public bool Parameter_02_IsOpen

        {
            get
             {
                return  para

[2018-11-12 17:30] #83 closed

[2018-11-12 21:37] #76 closed

[2018-11-12 21:37] #78 closed

[2018-11-12 21:37] #80 closed

[2018-11-12 21:37] #81 closed

[2019-01-17 00:31] maurosampietro opened #84 "CloseEvent"
It would be nice if a event would be raised when the window closes via the close button or esc or if a flag could state that happend.

This way if in a wizard multiple windows are chained we can break the chain of windows to show the user:

[code]

[2019-02-08 07:46] AndreasReitberger opened #85 "Get Result from "ShowChildWindowAsync""
Hi,
it's more a question like a bug.

When I use
`var result = _parent.ShowMessageAsync(...)`
I get a result if the dialog was confirmed or declined.
How do I achive the same with the "ShowChildWindowsAsync(...)"?

`var result = await _parent.ShowChildWindowAsync(...);`

How do I return a "MessageResult" when my ChildWindow is closed? I couldn't find a sample.

Thanks a lot!

[2019-05-16 00:27] AaronAnz commented on #72
I'm not sure if anyone will see this but a workaround I found was to use WindowsFormsHost and use the WinForms WebBrowser instead.

https://www.wpf-tutorial.com/misc-controls/the-windowsformshost-control/

You may still have an error about MSHTML. Just add reference -> assemblies -> MSHTML. Also, you may have to right click the mshtml reference and set it to copy local like I did. Hope it helps.

[2019-05-23 07:07] Torchok19081986 opened #86 "Question: Child Window"
Hallo, i have a question and hope someone can help me with.
I set succesffuly childwindow in my testproject. Unfortunately Page in WPF and c# doenst show any content. I just added one Button and one textbox in WPF new Page for new CoolChildWindow, but it doesnt show my controls. It looks like new usercontrol.  if i start my testproject with child window, it shows all new added controls.

Following

[2019-05-30 09:42] gem81 commented on #85
you should use
var result = await this.ShowChildWindowAsync<TResult>(...));
where TResult is type of result object

[code]

in your ChildWindow on Close event you should do something like

[code]

[2019-05-30 14:16] Raghava56 opened #88 "Simple Child Window :The calling thread must be STA."
Hi,

am trying to open a simple child window in Non-UI thread.
Getting exception i.e
**exception has been thrown by the target of an invocation**
InnerException is **The calling thread must be STA, because many UI components require this.**

[2019-05-30 19:48] punker76 commented on #88
@Raghava56 Do you have a short sample which shows this issue?

[2019-05-30 19:51] punker76 commented on #85
@AndreasReitberger Was @gem81 able to help you with the code snippet?

[2019-05-30 19:51] punker76 commented on #86
@Torchok19081986 Do you mean the designer view?

[2019-05-31 04:35] AndreasReitberger commented on #85
@punker76
Yes, this works for me :)

@gem81  thank you for helping out!

[2019-05-31 04:35] #85 closed

[2019-06-05 06:16] Torchok19081986 commented on #86
Hallo @punker76 . Yes, i mean designer view. In designer view new Childwindow looks empty, only empty window with some lines.

[2019-07-23 19:45] agustinm20 opened #89 "Focus textbox on load ChildWindow"
Hi everyone, I have a ChildWindow, when the user opened the ChildWindow I want to focus on one Textbox.

I tried with _textbox1.Focus()_ and  _FocusManager.SetFocusedElement(RootGrid2, textbox1);_

The focus is set but not active, it's weird.

There is a solution for this?

Thanks in advance.

[2019-08-09 13:55] JohnFredMeyer commented on #89
@agustinm20  its hard to say with information provided. Are you calling items in the code behind of the view? I can tell you that WPF has some nuances with focus where it is not guaranteed in certain scenarios and if you search StackOverflow you'll see. I can tell you i handle focus completely different in my apps. I found a solution on stack I use in all my projects now.  I have a folder in my pr

[2019-08-09 14:03] JohnFredMeyer commented on #86
@Torchok19081986
Can you make sure you have IsOpen Set to True in Xaml and you have set DesignHeight and DesignWidth. Like so

`IsOpen="True"`

[code]

[2019-08-12 13:33] JohnFredMeyer opened #90 "Trying to call mahapps ShowMessageAsync() from SimpleChildWindow causes exception"
I am trying to use Mahapps ShowMessageAsync() to have a confirmation dialog for item in SimpleChildWindow. When trying to call the ShowMessageAsync() from the child window I get an exception.

![image](https://user-images.githubusercontent.com/40145199/62868648-bb6f3d00-bcdb-11e9-84c5-14f6a503b006.png)

[code]

Is this possible or can you not call dialog from child window? I can perform nested chi

[2019-08-15 13:50] JohnFredMeyer opened #91 "Passing ChildWindowResult back on close button pressed"
I may be wrong and please correct me if so. I am trying to pass a value back even if the user presses the close button. Here is code where that is occurring

![image](https://user-images.githubusercontent.com/40145199/63098799-531d9700-bf39-11e9-8f56-914156be5172.png)

It calls just this.Close();
I was thinking is there anyway we could make that public so it can be overridden? Or possibly having i

[2019-08-15 14:19] JohnFredMeyer commented on #91
Ok figured out a way to do this. I am using ReactiveUI and Reactive extension but same can be done by intercepting on the closing event and using a bool within the view to determine if it is the first click of the closing button. If not I just return so it can close otherwise I cancel the close, set my bool, then close again. Still feels a little awkward. Let me know your thoughts?

[code]

[2019-08-19 11:51] timunie opened #92 "MahApps Resources are renamed"
We should update the Styles resources here also.

for example
`AccentColorBrush --> MahApps.Brushes.Accent`

Happy coding
Tim

[2019-08-24 08:56] Symbai opened #94 "Close button is unthemed"
Updated to Mahapps 2 beta. The close button on child windows are unthemed. Did I miss something or is this a bug?

![image](https://user-images.githubusercontent.com/14368203/63635002-f9aa1c00-c64c-11e9-9d04-5d1fb2868775.png)

[2019-08-24 13:06] timunie commented on #94
@Symbai I think it is a bug that comes from the renaming of the Style Keys in MahApps Metro.  I have opened a PR on this issue, see #93 .

Happy coding
Tim

[2019-08-24 14:01] Symbai commented on #94
Thanks, I've subscribed but leave this issue open as I don't know if your PR definitely fixes it. Punker76 can close this issue if it does.

[2019-08-24 15:14] timunie commented on #94
Yes,  please leave it open. I will have a look for a workaround tomorrow.

Happy coding
Tim

[2019-08-26 07:15] timunie commented on #92
I made a workaround until this issue is closed. You have to copy the following code into into your `Resources` Section (e.g. in `App.xaml` if the workaround should be Application wide applied)

[code]

This workaround should also work for Issue #94 //cc @Symbai

 **Without the woraround**
![image](https://user-images.githubusercontent.com/47110241/63672224-ca78e380-c7e1-11e9-9c1b-d519f8de8030.png)

[2019-08-29 21:34] #92 closed

[2019-08-29 21:39] #94 closed

[2019-08-29 21:39] punker76 commented on #94
Related to #93 and #92

[2019-08-29 21:44] punker76 commented on #86
@Torchok19081986 The simplest way is to put your view in to a separate UserControl and use this at the ChildWindow. The other way is to set the `IsOpen` property to true as @JohnFredMeyer suggested.

[2019-08-29 21:44] #86 closed

[2019-09-04 11:30] Martin-Pucalka opened #95 "Trying to call mahapps ShowProgressAsync() from nested Childwindow causes exception"
When I try to call ShowProgressAsync() from one opened window (Window1), everything works fine. When I open another window (Window2) from Window1 and then try to call ShowProgressAsync() from Window2, then I get exception:

There is examples of this behaviour in the attachement. Is it bug or I can't do that? In both cases I call:
`await _mainWindow.ShowProgressAsync("Progress", "Please wait...");`

[2019-09-12 16:51] timunie opened #98 "The default OverlayBrushes should be shipped with the libary"
It would be cool to have a resource for this shipped with the package

[code]
I will make a PR on this and you @punker76 can decide if you want it or not.

Happy coding
Tim

[2019-09-12 21:49] #98 closed, assigned to nobody

[2019-09-13 12:35] punker76 commented on #89
@agustinm20 Did you tried also the `FocusedElement` property on the `ChildWindow`? This allows you to set the focus on any element inside the child window.

[2019-09-13 13:09] punker76 commented on #71
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the [latest stable](https://github.com/punker76/MahApps.Metro.SimpleChild

[2019-09-13 13:09] #71 closed

[2019-09-13 13:10] #84 closed

[2019-09-13 13:10] #91 closed

[2019-09-13 13:14] punker76 commented on #22
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the [latest stable](https://github.com/punker76/MahApps.Metro.SimpleChild

[2019-09-13 13:14] #22 closed

[2019-09-13 13:15] punker76 commented on #52
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the [latest stable](https://github.com/punker76/MahApps.Metro.SimpleChild

[2019-09-13 13:15] #52 closed

[2019-09-13 13:37] punker76 commented on #90
@JohnFredMeyer This should be possible. Can you provide a short sample which shows this issue? Thanks!

[2019-09-13 13:46] punker76 commented on #95
Duplicate of #90

[2019-09-13 13:46] #95 closed

[2019-09-13 13:48] punker76 commented on #90
@JohnFredMeyer @Martin-Pucalka This issue will be fixed at MahApps itself. I will close this issue then.

[2019-09-17 07:39] #89 closed

[2019-09-17 08:09] #59 closed

[2019-09-17 15:39] agustinm20 commented on #89
Hi, yes, I tried that, doesn't work.

[2019-09-17 15:40] agustinm20 commented on #89
Thanks for the reply! I'll test that soon!

[2019-09-20 13:04] sekulicb opened #101 "What is the purpose of ChildWindowImage property?"
Hi. Setting this property to "Information" for example does nothing. No image is shown on child window.

'''
<simpleChildWindow:ChildWindow x:Class="seedingClient.View.Dialogs.InfoDialog"
             xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
             xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
             xmlns:simpleChildWindow="clr-namespace:MahApps.Metro

[2019-09-27 22:49] punker76 opened #102 ".NET Core 3.0"
Support for [.NET Core 3.0](https://github.com/dotnet/core/blob/master/roadmap.md)

[2019-09-27 23:45] #102 closed

[2019-10-08 10:12] DeputyOfCopyPaster opened #103 "ChildWindow position when it appears."
hello everyone!
Is there a way to set a certain ChildWindow position when it appears? At the moment it appears exact in the middle of the screen and even I move it to a certain place, next time (after App restart), it appears in the middle of the screen as it was before.
Is there a way to save this position?

thanks in advance!

[2019-10-08 10:39] timunie commented on #103
Hi @DeputyOfCopyPaster If I remember correctly you can use the Margin property to define the position of a child window.  I don't have a PC at the moment so i could not check it right now.

Happy coding Tim

[2019-10-08 12:08] DeputyOfCopyPaster commented on #103
I don't think so, the Margin isn't a proper way to do that.
There should be a cleverer way, definetely.
So. please check it and tell me how to do that by a proper way.

thanks in advance!

[2019-10-09 09:42] timunie commented on #103
Hi @DeputyOfCopyPaster ,
I had a look in the source code and as far as I can see (I'm not a programmer ;-) ) there is currently no buit in way to save the window position...

**Workaround**
You are correct, it wasn't `Margin` that I was looking for, it was `Padding`. You can take this property as a work around:
Let`s assume you have the following parameters set:
[code]
When you close the `ChildWin

[2019-10-11 19:25] agustinm20 commented on #89
It works perfect! Thanks man!

[2019-10-11 19:45] JohnFredMeyer commented on #89
@agustinm20  No problem.

[2019-10-13 20:34] DeputyOfCopyPaster commented on #103
@timunie, hello
I went to #104 and had taken a look at animated GIF.
I'm afraid you missed the point of my issue.  The ChWindow behaviour  you had shown in #104 was available as long as 2018. Please see my animation. It's ChWindow test I performed in 2018 for myself.
It remembers its position easily within App session.
So, what is going to happen in case when you close App and reopen. Does ChWindo

[2019-10-14 05:59] timunie commented on #103
Hi @DeputyOfCopyPaster ,

I took another gif to show you that it is possible to remember the position (I see you got it and changed your question, but I am already done with the new gif :-) ).

![ChildWindow_RememberPosition](https://user-images.githubusercontent.com/47110241/66731578-5ad5bb00-ee58-11e9-9b46-03e035ff86b3.gif)

Happy coding
Tim

[2019-10-14 07:57] DeputyOfCopyPaster commented on #103
@timunie, hi there
Coulld yuo tell me where have done changes? ChWindow version?
![release](https://user-images.githubusercontent.com/43616343/66736251-5ff33400-ee71-11e9-8b89-b060e745a872.png)

[2019-10-14 08:05] timunie commented on #103
@DeputyOfCopyPaster, at the moment it is just a PR. I don't know if it will be ever available, @punker76 has to decide :+1: or :-1:

[2019-10-14 08:15] DeputyOfCopyPaster commented on #103
Why not? Missing of that just deprives ChWindow of some usability, I believe.
the ChWindows must pop up at place where it was planned by end user. :+1:

[2019-10-14 08:22] timunie commented on #103
I am not the owner of this repro and don't have write permissions, so I am unable to do.

[2019-10-14 08:24] DeputyOfCopyPaster commented on #103
never mind, hope owners follow our chat...

[2019-10-15 11:10] #75 closed

[2019-10-15 11:10] #103 closed

[2019-10-18 18:44] DeputyOfCopyPaster commented on #103
@timunie, @punker76,
Guys, I am not familiar with Github system at all, so please enlighten me what is the status of this ChWindow feature. May I use it?

thank you!

[2019-10-18 19:49] timunie commented on #103
@DeputyOfCopyPaster yes if you uae the latest prerelease

[2019-10-18 19:53] DeputyOfCopyPaster commented on #103
How do I find the latest prerelease?

[2019-10-25 08:13] timunie commented on #103
Hi @DeputyOfCopyPaster ,

sorry for the late replay. Set this checkmark in your Nuget-Manager:
![image](https://user-images.githubusercontent.com/47110241/67554623-0cee6c00-f710-11e9-92e2-8f09fbf5ff03.png)

Happy testing
Tim

[2019-10-26 18:35] GreatFireWall opened #105 "Is it possible to make ChildWindow move outside of parent ?"

[2019-10-27 09:01] timunie commented on #105
Hi @GreatFireWall ,

plaese see #103 and #104 . Does this answer your question?

Happy coding
Tim

[2019-10-27 10:17] punker76 commented on #105
@GreatFireWall If you mean to move really outside as a new window, then I must say no. I created this child window as a simple way to show a "window" inside an existing window.

[2019-10-27 10:17] #105 closed

[2019-10-28 07:56] DeputyOfCopyPaster commented on #103
@timunie,
hi there,
just assembled a test project based on yours **_all latest prereleases_**, as you shaowed me above.
Perhaps I missed something. The ChildWindow still doesn't remember its position.
Today is Monday, though... :)
![ChWindow_01](https://user-images.githubusercontent.com/43616343/67661109-6b665500-f971-11e9-86fb-774d6ae7e0f5.gif)

[2019-10-28 08:24] timunie commented on #103
Hi @DeputyOfCopyPaster ,
As you can have more than one CW that you might want to rember, there is no build in way to save the position. You will need to save `OffsetX` and `OffsetY` on your own. see: https://docs.microsoft.com/de-de/visualstudio/ide/managing-application-settings-dotnet?view=vs-2015&redirectedfrom=MSDN

Happy coding
Tim

[2019-10-28 11:31] DeputyOfCopyPaster commented on #103
@timunie, it seems I've gotten a remembering of ChWindow previous position.
However, why  I'm getting at left upper corner -negative values and at right lower corner -positive values? As per GIF attached. Please give me an idea.

![neg_values](https://user-images.githubusercontent.com/43616343/67675132-7334f200-f98f-11e9-875d-ce8ed937ca20.gif)

[2019-10-28 11:45] timunie commented on #103
@DeputyOfCopyPaster it depends on the HorizontalAlignment and VerticalAlignment

[2019-10-28 11:54] DeputyOfCopyPaster commented on #103
@timunie. I don't see any alignment properties used in your latter demo release.

[2019-10-28 12:11] timunie commented on #103
the default is center, so the Point (0,0) is in the middle ...

[2019-10-28 12:38] DeputyOfCopyPaster commented on #103
@timunie, while playing around I've noticed one more thing which brings some discomfort in ChildWindow usage. As practice shows, the left upper ChildWindow's corner (mostly it's icons area) is not sensetive for dragging. In other words it doesn't allow to hide ChildWindow more deeper.
It's possible to hide a bit more, though.
@timunie, look, I'm not speaking about hiding **_entirely_**, I'm speaki

[2019-10-28 18:43] timunie commented on #103
to be honest I don't see a reason why one should move the childwindow out of the parent window. Maybe you should consider to open a new `MetroWindow`.

Happy dragging
Tim

[2019-10-29 04:51] DeputyOfCopyPaster commented on #103
@timunie, Yeah, I see you don't know. However, many end users know some reasons.
Since the ChildWindows are essentially dialogues, what would you do with a few annoying dialogues which pop up for some reasons every 5 seconds on your screen, for example? Our end users just hide them nearly out of the screen.
So, in terms of usabiliity the dragging here is realized pretty poorly.

In other words the

[2019-10-30 06:31] timunie commented on #103
@DeputyOfCopyPaster
please try:
[code]
But please keep in mind that even this will not solve all the positioning issues you might have. And unfortunatally I don't have the time to rewrite all the stuff needed to archiev your goal.

I hope you understand that I will now leave this issue as it is right now.

Happy coding
Tim

[2019-12-06 22:36] punker76 opened #106 "Add TargetFramework .NET Core 3.1"
[.NET Core 3.1](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1/) is out, so we can add this to the TargetFrameworks.

[2019-12-06 22:38] #106 closed

[2020-01-23 03:27] eliezeralmeida opened #107 "Childwindow being displayed behind another childwindow"
In a MetroWindow a childwindow was opened and MetroWindow was injected into the constructor. This is to be able to open a new childwindow from the childwindow that was opened later.

Both childwindows are with: IsModal = True

In some clients, with different versions of windows, I did not identify a pattern, I did not identify the reason, the second childwindow is being displayed behind the one th

[2020-01-23 07:12] timunie commented on #107
Hi @eliezeralmeida ,
I personally never showed more than one `ChildWindow`. But if you really need to, you may try to set the `Canvas.ZIndex` (for each new window one higher). Note: I didn't test this.

Happy coding
Tim

[2020-01-23 08:05] punker76 commented on #107
@eliezeralmeida Which Version are you use?

[2020-01-23 10:20] eliezeralmeida commented on #107
<package id="MahApps.Metro.SimpleChildWindow" version="1.5.0" targetFramework="net452" />

[2020-01-23 17:34] timunie commented on #107
@eliezeralmeida how should I interpret the 👀 -emoji? Do you wonder how to apply this property or don't you want a temporary workaround (until it the issue is fixed, if it can be fixed) at all?

Happy coding,
Tim

[2020-01-23 17:45] eliezeralmeida commented on #107
I appreciate your solution, the emoji is to say that I saw the message and I will try :)

[2020-01-27 13:00] DeputyOfCopyPaster opened #108 "Need advice, moving ChildWindow within mother's one."
![sample](https://user-images.githubusercontent.com/43616343/73613108-61549200-4603-11ea-8e0d-44b56ec47c28.gif)
Hello,
As far as I remember a movement of ChildWindow is limited by  so-called "Root-grid". Am I correct?
So, my question is, is it possible to move ChWindow _a little upper_, for example, **_over the mother window titlebar_**? If it is so, what should I do to get this behaviour?

As it

[2020-03-06 20:02] punker76 commented on #108
@DeputyOfCopyPaster No, that's not possible in an easy way. If you use MahApps then you can try to override the MetroWindow default window style and re-span the Grid where the dialogs and child windows are shown.

[2020-03-06 20:02] #108 closed

[2020-03-21 09:03] lwqwag opened #113 "doesn't work normal with MaterialDesignThemes.MahApps"
I have trouble when use MaterialDesignThemes.MahApps  version="0.1.1-ci1198,the newest version MaterialDesign and MaterialDesignThemes.MahApps .just like the image below.Do you have any advise?
![image](https://user-images.githubusercontent.com/29883542/77223250-b0e02480-6b95-11ea-859c-50f0b8f742c4.png)

![image](https://user-images.githubusercontent.com/29883542/77223261-d53c0100-6b95-11ea-936a-6

[2020-03-22 21:20] punker76 commented on #113
@lwqwag This should now work again with 2.0.0-alpha0037

[2020-03-22 21:20] #113 closed

[2020-03-24 08:41] lwqwag commented on #113
Thanks for your help!

[2020-04-16 18:15] eiredrake opened #114 "ChildWindow not showing up in designer"
Liking the ease of controlling child windows... especially opening and closing them. But I'm not sure if I'm doing something wrong or what but the MetroWindow shows up just fine in the designer.

But any ChildWindow view I create just show up as a blank region in the designer which makes it hard to add content to the view.

Is there any way to get the child windows showing up so I can see what I'm

[2020-04-16 18:24] eiredrake commented on #114
[Designer Support](https://github.com/punker76/MahApps.Metro.SimpleChildWindow/issues/23)

Apparently if you set the IsOpen attribute on the child window to 'True'  then it shows up in the designer.

That seems pretty odd. Is that the way it's supposed to be?

[2020-04-16 18:35] eiredrake commented on #114
and while the IsOpen="True" is set, the dialog doesn't show up from the normal ShowChildWindowAsync() until you turn it to False again.

[2020-04-16 18:38] eiredrake commented on #114
as a hack... you can bind it to a property that is FALSE by default and then use a FallbackValue as TRUE like such

` IsOpen="{Binding IsOpenHack, FallbackValue=True}"`

and then the dialog will show up in both the designer and at runtime.

However it's a hack. Surely this isn't the way it's supposed to work.

[2020-04-16 18:51] timunie commented on #114
Hi @eiredrake,

I use normally a `UserControl` as content,  so I have a good designer view.

Happy coding
Tim

[2020-04-16 19:33] eiredrake commented on #114
Do you mean putting a user control inside the content of the child window? Yeah I'm trying that now... without the IsOpen property there's nothing in the designer.

![with](https://user-images.githubusercontent.com/10224957/79498579-8d26c780-7ff7-11ea-8007-2b8d36432105.png)
![without](https://user-images.githubusercontent.com/10224957/79498585-8ef08b00-7ff7-11ea-9c51-7a43610eecd5.png)

[2020-04-16 19:55] eiredrake opened #115 "ChildWindow from ChildWindow"
I have a situation where a dialog that launches a process will show a status dialog over it.

is there any way to show this progress dialog over the child window without having the main metro window replace it or cancelling the existing childwindow or something? Sort of a child of a child I guess it would be?

Liking what I am seeing so far by the way. Very easy to use your stuff. I appreciate tha

[2020-04-16 20:05] timunie commented on #114
No I mean adding a new UserControl as a file and use that inside the childwondow.

please use gitter instead of issues for your questions. Join the chat: https://gitter.im/punker76/MahApps.Metro.SimpleChildWindow

thank you for your understanding.

[2020-04-16 20:08] timunie commented on #115
I think this is possible in the prelease / upcomming version.

happy coding
Tim

[2020-04-18 04:29] lwqwag opened #116 "when use validate in simplechildwindow, not display as expect"
i use validate property binding to xaml with validate, childwindow loaded first time validate errors not displayed as expect .when error has been cleared,i triggered an error,then the childwindow could display the validate error as expect just like the demo in  https://github.com/lwqwag/TestMahApp      Thx for your help.

[2020-04-18 09:59] timunie commented on #116
Hi @lwqwag

would it be an option for you to switch to `INotifyDataErrorInfo`? in my experience it is better than the old way validation worked. I can provide a sample if you wish.

Happy coding
Tim

[2020-04-18 10:15] lwqwag commented on #116
Hi @timunie
Thanks for your reply.
INotifyDataErrorInfo validation method will be a option for me.
Your help is greatly appreciated.

[2020-04-18 11:45] timunie commented on #116
@lwqwag I am sorry, but my Idea doesn't work either. It seems to be a bug, that it does not get the Validation when loaded.
By the way: Many thanks for the great example. 👍

Happy coding
Tim

[2020-04-18 15:26] timunie commented on #116
I investigated this issue a bit further and it turned out that the validation works correct if I wrap the `Content` of the `ChildWindow`inside an `AdornerDekorator`.

Here is my test branch. Maybe it helps for a solution: https://github.com/timunie/MahApps.Metro.SimpleChildWindow/tree/ValidationTest

Have a great weekend
Tim

[2020-04-18 15:55] lwqwag commented on #116
@timunie I tested the branch you provided,and it worked well. It's  a great job!
Thanks a lot again.

[2020-04-20 04:52] timunie commented on #116
Good morning @lwqwag
please reopen this issue. I think it is a bug anyway, because my solution was just a workaround.

Thanks,
Tim

[2020-04-20 16:49] #115 closed

[2020-04-20 16:49] #114 closed

[2020-05-17 15:18] Wobeam opened #117 "Async method doesn't perform check up if ChWindow is opened."
Hi,
It would be nice to implement that check up in the method itself, since the method has async nature.
For example: For some reasons, the method has been executed twice within a short period of time. It causes an exeption, due to the method doesn't perform a check up of  ChWindow state.

Hope this helps.

[2020-06-10 23:35] sebamatusr commented on #19
Is this possible?

[2020-06-11 11:34] JustForFunDeveloper opened #118 "Mahapps.Metro.SimpleChildWindow Nugget Package Issue"
I'm not quite sure where but there seems to be an issue with an assembly reference when using the SimpleChildWindow Nugget Package.

Steps to reproduce:

1. Clean WPF .Net Project (4.7.2)
2. Install MahApps.Metro Nugget Package and use just a MetroWindow as main window.
3. Install MahApps.SimpleChildWindow Nugget Package and define a ChildWindow in xaml. (There is no need to do anthing in the code

[2020-06-11 11:40] timunie commented on #118
Hi @JustForFunDeveloper

Can you uplaod your sample or send the version numbers of your packages?

Thank you and happy coding
Tim

[2020-06-11 11:51] JustForFunDeveloper commented on #118
Here the version numbers as well my sample code.

![Versions](https://user-images.githubusercontent.com/31549249/84382137-7c0ac900-abea-11ea-9962-d247c66837a6.png)

Sampleproject:
[SimpleChildTest.zip](https://github.com/punker76/MahApps.Metro.SimpleChildWindow/files/4764528/SimpleChildTest.zip)

[2020-06-11 12:00] timunie commented on #118
Oh I see. There is a prerelease v2.0.0 available. The version 1.5 only works with MahApps v1.6.5

[2020-06-11 12:37] JustForFunDeveloper commented on #118
Ahhhh i get it now ... that's the reason why my compiled library worked. Didn't see that i had already the prerelease.

By the way ... where would i be able to see that this package is only working until 1.6.5?

Thank you very much tho!

[2020-06-11 13:56] #118 closed

[2020-06-23 22:22] punker76 commented on #90
I transferred the issue to https://github.com/MahApps/MahApps.Metro/issues/3865

[2020-06-23 22:22] #90 closed

[2020-06-28 12:47] mreinhart2805 opened #120 "Resource Brushes not working in designer"
Hi,

When is use brush resources it wont work in design time so i can't see my design time data. Is there a way to get work?

[2020-07-04 01:27] realivanjx opened #121 "Passing value with Close not working"
Hi,

I am trying to pass a value from child window after it is closed. Here is what I have done:

[code]

[code]

But the `result` is always null in parent's code. What am I missing here?

Thanks.

Versions:
![image](https://user-images.githubusercontent.com/12814796/86502696-2b912080-bdd0-11ea-8a07-594bbb7386a3.png)

[2020-07-07 09:22] punker76 commented on #121
@realivanjx How is your `ChildWindowManager.ShowChildWindowAsync` implemented?

[2020-07-07 09:25] punker76 commented on #120
@mreinhart2805 If you need the designer then you have 2 options to get it working:

1) Put your child window content inside a UserControl
2) or set the IsOpen property on the child window to true

[2020-07-07 09:34] realivanjx commented on #121
@punker76 I do not implement that function. I just called it. It is already there. Maybe i am using it wrong?

[2020-07-07 09:44] punker76 commented on #121
@realivanjx Sorry, my fault. Can you provide this sample?

[2020-07-07 15:05] realivanjx commented on #121
@punker76 Sorry, I think now it is working. I was testing with the code i attached before but the result is always null. Sorry for interrupting.

[2020-07-07 15:05] #121 closed

[2020-08-07 20:41] CarterAAelect opened #122 "SimpleChildWindow File Load Exception"
Hi All,
having a bit of trouble with the SimpleChildWindow (Which is AWESOME!)
after updating to 2.2.0 simplechildwindow fails to open with a File Load Exception, error below;

System.Windows.Markup.XamlParseException
  HResult=0x80131501
  Message='Initialization of 'MahApps.Metro.SimpleChildWindow.ChildWindow' threw an exception.' Line number '61' and line position '40'.
  Source=PresentationFra

[2020-08-08 09:15] timunie commented on #122
Hi @CarterAAelect
Please check your version of SimpleChildWindow. Right now it needs to be the latest prerelease as in MahApps.Metro there were a lot of breaking changes.

Happy coding
Tim

[2020-08-08 14:16] CarterAAelect commented on #122
Augggg, Brian dead, I forgot pre-release was turned off.
Thank you! Sorry!

From: Tim <notifications@github.com>
Sent: Saturday, August 8, 2020 2:16 AM
To: punker76/MahApps.Metro.SimpleChildWindow <MahApps.Metro.SimpleChildWindow@noreply.github.com>
Cc: Carter Howard <carterhoward@aaelect.com>; Mention <mention@noreply.github.com>
Subject: Re: [punker76/MahApps.Metro.SimpleChildWindow] SimpleChild

[2020-08-08 19:21] timunie commented on #122
@CarterAAelect you are welcome. If your issue is solved please remember to close this issue. Thx.

[2020-08-11 15:48] #122 closed

[2020-09-22 07:42] Josrph opened #123 "Loaded event called twice?"
when calling ShowChildWindowAsync() my ContentControl Loaded event gets called twice ... it does not suppose to do that.

[code]

PS: am using SimpleChildWindow version 1.5 with MahApps 1.6.5

[2020-09-22 20:22] eliezeralmeida commented on #107
Sorry, I forgot to close the issue.
I managed to set the child parent as hide and display only the last call.

[2020-09-22 20:22] #107 closed

[2020-09-22 20:26] eliezeralmeida commented on #122
I solved it by installing version 2.0.0-alpha0043. Thanks for the topic :)

[2020-11-20 22:02] #120 closed

[2021-07-10 21:38] andrewissac opened #124 "SimpleChildWindow over Metro dialogs?"
Hey!

We wrote a touchscreen keyboard usercontrol that is placed into a SimpleChildWindow. Then we make us of the ChildWindowManager to show and close the touchscreen keyboard on demand.

But now we have a scenario where we have metro dialogs (using the metro IDialogCoordinator) with input fields and would need the SimpleChildWindow to appear in front of the dialog. Is there any way to achieve thi

[2022-01-20 07:59] goldcode opened #125 "Curved corners for SimpleChildWindow"
We can use controls:ControlsHelper.CornerRadius="5" for controls inside SimpleChildWindow.
Would it be possible to include this setting for the SimpleChildWindow itself?
Maybe it's also relevant for the MetroWindow?

[2022-07-18 09:20] nagababuthota984 commented on #85
@gem81 thanks for the code snippet. but how can we proceed in MVVM style with Caliburn.micro? I am thinking of using Events with event aggregator. is there any more efficient way?

[2022-10-03 19:23] #125 closed

[2022-10-03 19:49] punker76 commented on #123
The Loaded event fires when an element becomes part of the visual tree. Depending where your element is, this can happen more than once. Also an application might have to recreate its visual tree.

[2022-10-03 19:49] #123 closed

[2022-10-03 20:41] punker76 commented on #116
Yeah, it's a WPF thing :-(

[2022-10-03 20:41] #116 closed

[2022-10-03 20:41] #117 closed

[2022-11-04 12:43] Symbai opened #131 "Since 2.1.0 no dialog is shown"
I've updated from 2.0.0 to 2.2.0 and noticed that no dialog alias child window is shown anymore. The constructor of the child window is called but its simply not there. Downgraded to 2.1.0 but problem persist. As soon as I downgrade to 2.0.0 dialogs are working as expected.

I'm using MetroApps Version 2.4.9, the latest version as of now. Was there any breaking change on 2.1.0 ?

I'm opening dialo

[2022-11-04 15:47] punker76 commented on #131
@Symbai Can you provide a full sample? Thx

[2022-11-04 15:58] Symbai commented on #131
Sure here you go:

[WpfApp3.zip](https://github.com/punker76/MahApps.Metro.SimpleChildWindow/files/9940069/WpfApp3.zip)

2.2.0

https://user-images.githubusercontent.com/14368203/200020779-10c8b53b-9224-454c-be75-8d334471620e.mp4

2.0.0

https://user-images.githubusercontent.com/14368203/200020812-def620c5-c04e-4705-9002-28619ab3af7a.mp4

You might want to set height / width of child window to mak

[2022-11-05 13:26] #131 closed